$text-color: #4b636e;
$li-item-background-color: #0d6efd1c;
$li-item-completed-background-color: #c4cbd9;

.todo-item-list {
    a.add-button {
        cursor: pointer;
        i {
            font-size: 35px;
        }
    }

    .empty-list,
    .loading-list {
        text-align: center;
        font-size: 30px;
    }
    .loading-list {
        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    ul {
        li {
            cursor: pointer;
            color: $text-color;
            padding-left: 0;
            padding-right: 0;

            &.list-group-item {
                &.active {
                    color: $text-color;
                    background-color: $li-item-background-color;
                }
            }

            label {
                user-select: none;
            }

            .item-actions {
                display: flex;
                width: 100px;
                justify-content: space-around;
                text-align: center;

                a {
                    font-size: 16px;
                }
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
