body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif !important;
  background-color: #a7c0cd40 !important; }
  body a,
  body a:hover,
  body a:visited {
    text-decoration: none !important;
    /* no underline */ }
  body h1,
  body h2,
  body p,
  body i,
  body span {
    color: #4b636e !important; }
  body .content {
    margin-top: 100px; }
  body .row {
    margin-top: 20px; }
