$primary_dark_col: #4b636e;
$primary_light_col: #a7c0cd40;
$secondary_light_col: #e1ffb1;
$secondary_dark_col: #7da453;

body {
    min-width: 320px;
    margin: 2em;
    font-family: "Open Sans", sans-serif;
    background-color: $primary_light_col;

    a,
    a:hover,
    a:visited {
        text-decoration: none; /* no underline */
    }

    h1,
    h2,
    p,
    i,
    span {
        color: $primary_dark_col;
    }

    .content {
        margin-top: 100px;
    }

    .row {
        margin-top: 20px;
    }
}
